modules = ["nodejs-20", "web", "bash"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Start LibreChat"

[[workflows.workflow]]
name = "Start LibreChat"
author = 44755071
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node simple-start.js"
